<!DOCTYPE html>
<html lang="it-IT">

<head>
    <script src="lib/js/jquery-3.4.1.min.js"></script>
    <script src="lib/js/bootstrap.bundle.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="js/card_manager.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">
    <nav>
        <div class="nav nav-tabs mt-2" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Carte</a>
            <a class="nav-item nav-link" id="nav-manage-tab" data-toggle="tab" href="#nav-manage" role="tab"
                aria-controls="nav-manage" aria-selected="false">Dettagli</a>
            <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab"
                aria-controls="nav-settings" aria-selected="false">Impostazioni</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <!-- NAVBAR HOME-->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="container-fluid" ng-app="card-container" ng-controller="card-controller">
                <!-- START - Navbar and shits -->
                <!-- START - Storage and new card function -->
                <div class="alert alert-danger alert-dismissable" style="display: none" id="dataErrorAlert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Impossibile salvare i dati!</strong><br> Archiviazione non disponibile.
                </div>
                <div class="mt-2 mb-2">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAddCard"
                        aria-expanded="false" aria-controls="collapseAddCard" onclick="checkStorage()">
                        Aggiungi carta
                    </button>
                    <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                        data-target="#collapseSearchCard" aria-expanded="false" aria-controls="collapseSearchCard">
                        Cerca carta
                    </button>
                </div>
                <div class="row">
                    <div class="collapse col" id="collapseAddCard">
                        <div class="card card-body">
                            <!-- Card inputs -->
                            <div>
                                <form ng-submit="addCard()" class="col w-100">
                                    <div class="form-group">
                                        <h5>Dati carta:</h5>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Nome</span>
                                            </div>
                                            <input type="text" class="form-control" id="card-name"
                                                aria-describedby="basic-addon3" ng-model="ncTitle" required="required">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Note</span>
                                            </div>
                                            <input type="text" class="form-control" id="card-notes"
                                                aria-describedby="basic-addon3" ng-model="ncNotes">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Data</span>
                                            </div>
                                            <input type="date" class="form-control" id="card-date"
                                                aria-describedby="basic-addon3" ng-model="ncDate" required="required">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Aggiungi</button>
                                    </div>
                                </form>
                                <div class="col">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse col" id="collapseSearchCard">
                        <div class="card card-body">
                            <div class="form-group">
                                <label for="search-card">Nome Carta:</label>
                                <input ng-model="searching" ng-change="searchCard()" type="text" class="form-control"
                                    id="search-card" placeholder="Inizia a scrivere il nome della carta...">
                            </div>
                            <!-- RESULT CARD -->
                            <div ng-repeat="result in searchResults track by $index">
                                <div class="card mx-2 my-2 border border-success">
                                    <div class="card-body">
                                        <span
                                            class="badge badge-primary float-right mt-n3 mr-n3">{{(result.total > 1) ? result.total : ''}}</span>
                                        <h5 class="card-title">{{result.title}}</h5>
                                        <p class="card-text text-muted">{{result.notes}}</p>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <small>Creata: {{result.dateAdded}}<br>
                                            Aggiornata: {{result.dateUpdated}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END - Storage and new card function -->
                <!-- END - Navbar and shits -->
                <!-- START - Cards population -->
                <div class="d-flex flex-wrap" ng-init="jumbotronShow()">
                    <div class="jumbotron" id="noCards">
                        <h1 class="display-4">Nessuna carta da mostrare</h1>
                    </div>
                    <div ng-repeat="card in cards track by $index">
                        <div class="card mx-2 my-2">
                            <div class="card-body">
                                <span
                                    class="badge badge-primary float-right mt-n3 mr-n3">{{(card.total > 1) ? card.total : ''}}</span>
                                <h5 class="card-title">{{card.title}}</h5>
                                <p class="card-text text-muted">{{card.notes}}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <small>Creata: {{card.dateAdded}}<br>
                                    Aggiornata: {{card.dateUpdated}}</small>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- NAVBAR MANAGE-->
        <div class="tab-pane fade" id="nav-manage" role="tabpanel" aria-labelledby="nav-manage-tab">
            <p>Henlo?</p>
        </div>

        <!-- NAVBAR SETTINGS-->
        <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
            <p>Henlo?</p>
        </div>


    </div>


</body>

</html>