<!DOCTYPE html>
<html lang="it-IT">

<head>
    <script src="lib/js/jquery-3.4.1.min.js"></script>
    <script src="lib/js/bootstrap.bundle.min.js"></script>
    <script src="lib/js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid" ng-app="card-container" ng-controller="card-controller">
        <!-- START - Navbar and shits -->
        <!-- START - Storage and new card function -->
        <div class="alert alert-danger alert-dismissable" style="display: none" id="dataErrorAlert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Impossibile salvare i dati!</strong><br> Archiviazione non disponibile.
        </div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample" onclick="checkStorage()">
                Aggiungi carta
            </button>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <!-- Card inputs -->
                    <div class="row">
                        <form ng-submit="addCard()">
                            <div class="form-group">
                                <h5>Dati carta:</h5>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Nome</span>
                                    </div>
                                    <input type="text" class="form-control" id="card-name"
                                        aria-describedby="basic-addon3" ng-model="ncTitle" required="required">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Note</span>
                                    </div>
                                    <input type="text" class="form-control" id="card-notes"
                                        aria-describedby="basic-addon3" ng-model="ncNotes">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Data</span>
                                    </div>
                                    <input type="date" class="form-control" id="card-date"
                                        aria-describedby="basic-addon3" ng-model="ncDate" required="required">
                                </div>
                                <button type="submit" class="btn btn-primary">Aggiungi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </p>
        <!-- END - Storage and new card function -->
        <!-- END - Navbar and shits -->
        <!-- START - Cards population -->
        <div class="d-flex flex-wrap" ng-init="jumbotronShow()">
            <div class="jumbotron" id="noCards">
                <h1 class="display-4">Nessuna carta da mostrare</h1>
            </div>
            <div ng-repeat="card in cards track by $index">
                <div class="card mx-2 my-2">
                    <div class="card-body">
                        <h5 class="card-title">{{card.title}}</h5>
                        <p class="card-text text-muted">{{card.notes}}</p>
                    </div>
                    <div class="card-footer">Aggiunta il
                        {{card.dateAdded}}
                    </div>
                </div>
            </div>
        </div>
        <!-- END - Cards population -->
    </div>
</body>

</html>